/* Import button */
.pfe-import-button-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s;
}

.pfe-import-button-medium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px dashed black;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s;
}

.pfe-import-button-large {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s;
}

.pfe-import-button--white {
  border: 1px solid rgb(32, 32, 32) !important;
  background-color: white !important;
  color: rgb(32, 32, 32) !important;
  transition: 0.2s;
}

.pfe-import-button--white:hover {
  background-color: rgb(32, 32, 32) !important;
  border: 1px solid white !important;
  color: white !important;
  transition: 0.2s;
}

.pfe-import-button--black {
  border: 1px solid white !important;
  background-color: rgb(32, 32, 32) !important;
  color: white !important;
  transition: 0.2s;
}

.pfe-import-button--black:hover {
  background-color: white !important;
  border: 1px solid rgb(32, 32, 32) !important;
  color: rgb(32, 32, 32) !important;
  transition: 0.2s;
}

.pfe-import-button-small:hover,
.pfe-import-button-medium:hover,
.pfe-import-button-large:hover {
  transition: 0.2s;
  cursor: pointer;
  background-color: #e9e9e9;
}

.pfe-import-button--dragged {
  background-color: #e9e9e9;
}
